$cement: #a1a29a;
$pale-grey: #fafafb;
$dark-grey: #d6d6d6;
$light-grey: #eaebe9;
$gunmetal: #565a5c;
$whitebackground: #f9f9f9;
$algae-green: #1bc959;
$people-background: #4527A0;
$starships-background: #E53935;
$planets-background: #00BCD4;